:root {
  font-size: 62.5%;
  --bgColor: #fafafa;
  --white: #FFFFFF;
  --yellow-50: #FFC700;
  --gray-500: #6F6F6F;
  --gray-900: #0B0B0B;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--bgColor);
  color: var(--gray-900);
  --webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}